/**  ========================================================================== 

This is where your custom styles begin. 

==========================================================================  */
body {
  background-image: linear-gradient(#1D2817, #8F9B72);
  font-family: "Pragmatica Extended", sans-serif;
  text-transform: uppercase;
  text-align: center;
  height: 9860px;
  width: 1440px;
}

.wrapper_title {
  height: 828px;
  width: 100%;
  z-index: 2;
  position: relative;
}

.spacer {
  height: 134px;
  width: 100%;
}

.spacer_i {
  height: 40px;
  width: 100%;
}

.wrapper_1 {
  height: 828px;
  width: 1440px;
  z-index: 1;
  position: relative;
}

.background_1 {
  height: 828px;
  width: 1440px;
}

.wrapper_text {
  padding-left: 235px;
  height: 828px;
  width: 959px;
}

.title_i {
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.title {
  font-size: 240px;
  font-weight: 700;
  font-style: oblique;
  color: white;
}

.text {
  font-size: 120px;
  font-weight: 900;
  line-height: 130px;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;

