/**  ========================================================================== 

This is where your custom styles begin. 

==========================================================================  */

* {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
  }

.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(43deg, #52db7c, #f0d56a, #f15eb1, #8f5ef1, #46b1ee);
    background-size: 1000% 1000%;
    font-family: "Helvetica", sans-serif;
    -webkit-animation: AnimationName 31s ease infinite;
    -moz-animation: AnimationName 31s ease infinite;
    animation: AnimationName 31s ease infinite;
}
    
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.menu {
    width: 190px;
    height: 100vh;
    position: fixed;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    background: rgba(228, 230, 247, 0.74);
}

.links {
    width: 190px;
    height: 66px;
    border: 2px solid black;
    border-top: none;
    padding: 22px;
}

#home-icon {
    height: 100px;
    border-top: 2px solid black;
}

.socialmedia {
    width: 190px;
    height: 314px;
    border: 2px solid black;
    border-top: none;
    padding: 25px;
}

.icon {
    width: 20px;
    height: auto;
    position: relative;
    padding-top: 245px;
}

.desktop {
}

.text {

    text-align: left;
    position: absolute;
    font-size: 27px;
    top: 13.5%;
    left: 18%;
    width: 680px;
    height: auto;
    border: 2px solid black;
    padding: 50px;
    padding-bottom: 20px;;
    font-weight: lighter;
    background: rgba(228, 230, 247, 0.74);

}

.title {
    font-weight: normal;
}

.image {
    position: absolute;
    top: 13.5%;
    left: 68%;
    width: 392px;

}

.subtext {
    position: absolute;
    font-size: 12px;
    font-family: "Helvetica", monospace;
    font-weight: 600;
    font-style: italic;
    top: 85%;
    left: 68%;
    width: 392px;
    height: auto;
    border: 2px solid black;
    background: rgba(228, 230, 247, 0.74);
    padding: 5px;
}