/**  ========================================================================== 

This is where your custom styles begin. 

==========================================================================  */

* {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
  }

.container.show .wrapper{
    filter: blur(10px);
}

.container.show .corona-message{
    z-index: 3;
}

.container-mask {
    position: ABSOLUTE;
    width: 100vw;
    height: 200vh;
    z-index: 2;
    display: none;
}

.corona-message {
    font-family: "Helvetica", sans-serif;
    text-align: left;
    position: absolute;
    font-size: 27px;
    top: 8%;
    left: 31.5%;
    width: 680px;
    height: auto;
    border: 2px solid black;
    padding: 50px;
    font-weight: normal;
    background: rgba(228, 230, 247, 0.884);
    z-index: -1;

}

.corona-message-2 {
    width: 100vw;
    height: 0;
    z-index: -1;
    position: absolute;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(43deg, #52db7c, #f0d56a, #f15eb1, #8f5ef1, #46b1ee);
    background-size: 1000% 1000%;
    font-family: "Helvetica", sans-serif;
    -webkit-animation: AnimationName 31s ease infinite;
    -moz-animation: AnimationName 31s ease infinite;
    animation: AnimationName 31s ease infinite;
    z-index: 1;
}
    
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes float {
	0% { ;
		transform: translatey(0px);
	}
	50% {;
		transform: translatey(-20px);
	}
	100% {;
		transform: translatey(0px);
	}
}

@keyframes float2 {
	100% { ;
		transform: translatey(0px);
	}
	50% {;
		transform: translatey(-15px);
	}
	0% {;
		transform: translatey(0px);
	}
}

@keyframes float3 {
	0% { ;
		transform: translatey(0px);
	}
	50% {;
		transform: translatey(-10px);
	}
	100% {;
		transform: translatey(0px);
	}
}


.menu {
    width: 190px;
    height: 100vh;
    position: fixed;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    background: rgba(228, 230, 247, 0.74);
}

.links {
    width: 190px;
    height: 66px;
    border: 2px solid black;
    border-top: none;
    padding: 22px;
}

#home-icon {
    height: 100px;
    border: 2px solid black;
    padding: 20px;
}

.socialmedia {
    width: 190px;
    height: 313px;
    border: 2px solid black;
    border-top: none;
    padding: 25px;
}

.icon {
    width: 20px;
    height: auto;
    position: relative;
    padding-top: 245px;
}

.title {
    position: absolute;
    right: 22%;
    top: 10%;
}

.corona-update {
    position: relative;
    width: 250px;
    height: auto;
    top: 6%;
    left: 20%;
    background: rgba(228, 230, 247, 0.74);
    border-radius: 50%;
}

.corona-update  {
    -webkit-animation: rotation 8s infinite linear;
  }
  
  @-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
  }

  @-webkit-keyframes rotation2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-359deg);
    }
  }

.alhamdulit {
    width: 250px;
    height: auto;
    position: absolute;
    top: 61%;
    right: 7%;
    opacity: 80%;
    -webkit-animation: rotation 8s infinite linear;
}

.haramood {
    width: 180px;
    height: auto;
    position: absolute;
    top: 66%;
    right: 9.5%;
    opacity: 80%;
    -webkit-animation: rotation2 14s infinite linear;
}

.galb {
    width: 350px;
    height: auto;
    position: absolute;
    top: 67%;
    left: 16%;
    animation: float2 5s ease-in-out infinite;
}

.queer{
    width: 280px;
    height: auto;
    position: absolute;
    top: 5%;
    right: 5%;
    animation: float 8s ease-in-out infinite;
}

@media screen and (max-width: 800px) {

    .wrapper {
        overflow: scroll;
        width: 100vw;
        height: 1000px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }

    #home-icon {
        width: 150px;
        height: auto;
    }

    .svg {
        width: 90px;

    }


    .menu {
        z-index: 3;
        background: rgb(228, 230, 247);
        font-size: 12px;
        height: 400px;
        width: 130px;
        position: relative;
        right: 1%;
        top: -2000px:
    }

    .links {
        height:20px;
        padding: 20px;
        padding-bottom: 30px;
        width: 130px;
        letter-spacing: normal;
    }

    #home-icon  {
        width: 130px;
        height: 60px;
        border: 2px solid black;
        bottom: 10px;
        padding: 2px;
    }

    .socialmedia {
        align-items: left;
        background: rgb(228, 230, 247);
        width: 130px;
        height: auto;
    }

    .icon {
        width: 30px;
        height: auto;
        position: relative;
        padding-top: 10px;
    }

    .flex-image {
        width: 100%;
        max-width: 300px;
        flex-basis: 40%;
    }

    .title {
        position: relative;
        left: auto;
        top: auto;
        right: auto;
        top: -1020px;
        width: 270px;
        left: 15%;
        z-index: 2;
    }

    .corona-update {
        position: relative;
        left: auto;
        top: auto;
        right: auto;
        width: 300px;
        height: auto;
        z-index: 1;
        display: none;
    }

    .alhamdulit {
        position: relative;
        left: auto;
        top: auto;
        right: auto;
        width: 300px;
        height: auto;
        z-index: 1;
        display: none;
    }

    .haramood {
        position: relative;
        left: auto;
        top: auto;
        right: auto;
        width: 300px;
        height: auto;
        z-index: 1;
        display: none;
    }

    .queer {
        position: relative;
        left: auto;
        top: auto;
        right: auto;
        width: 300px;
        height: auto;
        z-index: 1;
        display: none;
    }

    .galb {
        position: relative;
        left: auto;
        top: auto;
        right: auto;
        width: 300px;
        height: auto;
        z-index: 1;
        display: none;
    }

    .corona-message {
        display: none;
    }

    .corona-message-2 {
        font-family: "Helvetica", sans-serif;
        height: auto;
        width: 270px;
        border: 2px solid black;
        font-weight: normal;
        text-align: center;
        position: relative;
        font-size: 16px;
        padding: 40px;
        left: 54px;
        top: 350px;
        background: rgb(228, 230, 247);
        z-index: 2;

        
      }
}