.albums {
  background-color: rgb(21, 11, 26);
  width: 100%;
  min-height: 100%;
  padding-top: 30px;
  padding-bottom: 80px;
}

.title {
  font-family: 'Halogen', Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
}

.container {
  padding-top: 30px;
  width: 100%;
  max-width: 80%;
  height: auto;
  background-color:rgb(21, 11, 26);
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;;
}

.flex-image {
  width: 100%;
  height: auto;
  max-width: 400px;
  padding: 20px;
  align-self: center;
}

@media (max-width: 800px) {
  .albums {
    background-color:rgb(242, 235, 245);
  }
  .title {
    color: rgb(21, 11, 26);
  }
  .container {
    background-color: rgb(242, 235, 245);
    flex-direction: column;
  }
}