/**  ========================================================================== 

This is where your custom styles begin. 

==========================================================================  */

* {
  box-sizing: border-box;
}

.home {
  margin: 0;
}

a {
  color: rgb(71, 24, 2);
}

.container {
  width: 100vw;
  height: 100%;
  overflow: auto;
  margin: 0 auto;
  font-family: 'Tajawal', sans-serif;
  font-weight: 500;
  color: rgb(71, 24, 2);
  letter-spacing: 2px
}

.container.pinkmode {
  color: #0D0261;
}

.container.pinkmode .menu{
  color: #0D0261;
  text-decoration: none;
}

.container.pinkmode .p1 {
  background: #EDBCF3;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  z-index: 1;
}

.container.pinkmode .p2 {
  background: #B5AFDF;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  z-index: 1;
}

.container.pinkmode a {
  color: #0D0261;
}

.container.greenmode {
  color: #01504c;
}

.container.greenmode .menu{
  color: #01504c;
}

.container.greenmode .p1 {
  background: #C9EAD7;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  z-index: 1;
}

.container.greenmode .p2 {
  background: #B6DFAF;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  z-index: 1;
}

.container.greenmode a {
  color: #01504c;
}

.container.arabic #body-paragraph-arb{
  font-size: 50px;
}

.container.arabic #body-paragraph{
  display: none;
}

.container.show .text.toggle{
  font-size: 46px;
}

.container.show .spacer{
  height: 30px;
}

.container.show-2 .text-toggle-2{
  font-size: 46px;
}

.buttons {
  position: fixed;
  z-index: 3;
  right: 1%;
}

.button-pink {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(41, 28, 22);
  background: #EDBCF3;
  margin-top: 50px;
  margin-right: 40px;
  z-index: 3;
  border-radius: 50%;
  position: relative;
  float: right;
}

.button-green {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(41, 28, 22);
  background: #C9EAD7;
  margin-top: 50px;
  margin-right: 10px;
  z-index: 3;
  border-radius: 50%;
  position: relative;
  float: right;
}

.p1 {
  background: rgb(255, 244, 210);
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  z-index: 1;
}

.menu {
  padding: 50px;
  height: 100vh;
  width: 200px;
  position: fixed;
  z-index: 2;
  color: rgb(41, 28, 22);
  text-decoration: none;
}

.links {
  padding-top: 460px;
}

.content {
  padding-top: 50px;
  padding-right: 50px;
  width: 1080px;
  position: relative;
  float: right;
  letter-spacing: 0.2px;
  z-index: 2;
  overflow: hidden;
}

#about{
  letter-spacing: 2px;
  font-weight: bold;
}

#arb {
  font-family: "Cormorant Infant", monospace;
  font-weight: 500;
  letter-spacing: 1px;
}

#body-paragraph {
  padding-top: 20px;
  padding-right: 80px;
  font-size: 46px;
  font-weight: 200;
  line-height: 48px;
}

#body-paragraph-arb {
  font-family: 'Tajawal', sans-serif;
  font-size: 0px;
  text-align: right;
  line-height: 52px;
  font-weight: 300;
  padding-top: 20px;
  padding-right: 110px;
  letter-spacing: 1px;
}

.p2 {
  background: rgb(241, 214, 162);
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  z-index: 1;
}

.work{
  letter-spacing: 2px;
  font-weight: bold;
}

.text {
  font-size: 46px;
  font-weight: 200;
}

.text.projects {
  margin-top: 60px;
}

.text.toggle {
  font-size: 0px;
  font-family: "Cormorant Infant", monospace;
}

.spacer {
  height: 0px;
  width: 100vw;
}

.text-toggle-2 {
  font-size: 0px;
  font-family: "Cormorant Infant", monospace;
}